* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, input, select, button, option {
    font-family: 'Inter', sans-serif;

    background-color: #000000;
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;

    line-height: 120%;
    letter-spacing: -0.02em;
}

/* White Mode */
html.white-mode {
    background-color: #FFFFFF;
    /* color: #000000; */
}

html h1.white-mode {
    color: #000000;
}

#whiteMode {
    cursor: pointer;

    font-family: 'Poppins', monospace;

    color: #000000;
    background-color: #ffffff;

    padding: 10px 30px;
    margin-top: 30px;
    
    border: none;
    border-radius: 4px;

    text-transform: uppercase;
}

#whiteMode.dark-mode {
    background-color: #000000;
    color: #FFFFFF;
}

/* App */
#app {
    padding: 40px 20px;
    max-width: 320px; /* Configuração para mobile iPhone SE */
    margin: auto;
}

/* form */
#place {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 22px 16px;
    margin-bottom: 32px;

    font-size: 14px;
    letter-spacing: -0.02em;
}
 
input, select {
    all:unset; /* Propriedade CSS que limpa as configurações default que o HTML ou o CSS trazem para os elementos */
}

input, select, button {
    width: 100%;
}

.fields {
    display: grid;
    gap: 8px;
}

.field-wrapper {
    padding: 18px;
    background-color: #09090B;
    border: 1px solid #27272A;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre os elementos dessa div */
}

.field-wrapper:focus-within { /* Ajuda visual para mostrar onde o usuário está selecionando com o mouse */
    outline: 2px solid yellowgreen;
}

button {
    border: none;
    margin-top: 12px;
    padding: 12px 20px;
    
    background-color: #AFF445;
    color: #132F00;
    border-radius: 8px;

    font-weight: 500;
    font-size: 16px;

    cursor: pointer;
}

.card-bg {
    background: #18181B;

    box-shadow: 
    0px 8px 8px rgba(0, 0, 0, 0.1), /* Estrutura: 0px 8px 8px = DeslocamentoX DeslocamentoY DeslocamentoZ*/
    0px 4px 4px rgba(0,0,0, 0.1), 
    0px 2px 2px rgba(0, 0, 0, 0.1), 
    0px 0px 0px 1px rgba(0, 0, 0, 0.1), 
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), /* Sombra interna */
    inset 0px 1px 0px rgba(255, 255, 255, 0.03); /* Sombra interna */

    border-radius: 12px;
}

/* MAIN */
main {
    margin-top: 32px;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;

    margin-bottom: 24px;
}

section {
    display: grid;
    gap: 10px;
}

section input[type="checkbox"] {
    position: absolute;

    inset: 0;
}

section .card-bg {
    position: relative;
    padding: 10px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .card-bg:has(:checked) .active,
section .card-bg .inactive {
    display: block;
}

section .card-bg:has(:checked) .inactive,
section .card-bg .active {
    display: none;
}

section .card-bg > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

time {
    font-size: 14px;
    color: #A1A1AB;
    text-align: right;
}

time.full {
    display: none;
}

@media (width > 1024px) {
    #app {
        display: flex;
        max-width: 960px;
        gap: 32px;
    }

    main {
        margin-top: 0;
        flex: 1; /* Essa propriedade em css só funciona quando o item ou elemento está dentro de um pai flex. Ou seja, main é filho de app que é display: flex; */
    }

    h1 {
        text-align: left;
    }

    time.full {
        display: block;
    }

    time.short {
        display: none;
    }
}

section .card-bg {
    animation: appear 1.2s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
}