html {
    background-color: #000000;
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
}

html.white-mode {
    background-color: #FFFFFF;
    color: #000000;
}

#whiteMode {
    cursor: pointer;

    font-family: 'Poppins', monospace;

    color: #000000;
    background-color: #ffffff;

    padding: 10px 30px;
    margin-top: 30px;
    
    border: none;
    border-radius: 4px;

    text-transform: uppercase;
}

#whiteMode.dark-mode {
    background-color: #000000;
    color: #FFFFFF;
}